         <li class="list-group-item" *ngFor = "let user of users" 
           [class.active]="currentUser == user"
           (click)="select(user)" >
-            Name: {{user.name}}, Email {{user.email}} <br> 
-            <jce-user></jce-user>          
+            <jce-user [user] = user></jce-user>          
         </li>
   </ul>
 </div>